body {
    /*border-top: 5px solid #24C3C6;*/
    border-top: 5px solid darkred;
    /*background-color: #ECECEA;*/
    background-color: white;
    /*background-color: #fc4445;*/
}
.row{
    margin-bottom: 0px;
}
.center{
    text-align: center;
}
.ih-item.square.effect6 .info p {
    font-size: 28px;
}
@font-face {
    font-family: summit;
    src: url(SummitMedium-Inline.ttf);
    font-weight: bold;
}
@font-face {
    font-family: summitTxt;
    src: url(SummitLight-Solid.otf);
    font-weight: bold;
}
.name{
    font: normal normal normal 150px/1.4em summit,serif;
    /*color: #302D2D;*/
    color: #2B2C30;
}
.txt {
    font: normal normal normal 23px/1.4em summitTxt,sans-serif;
}
.imgWrap {
    position: relative;
    visibility: visible;
    padding-bottom: 10px;
}
.imgDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.91);
    font: normal normal normal 23px/1.4em basic,sans-serif;
    padding-top: 170px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
}
.imgWrap:hover .imgDescription {
    visibility: visible;
    opacity: 1;
}
#linkLogos{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.links:hover{

    opacity: 0.7;
    transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
}
.details {
    margin: 9px auto 0;
    background: #578FFE;
    padding: 9px 0;
    border-radius: 5px;
    color: white;
}
.details a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
}
#social {
    font-size: 0;
    margin-top: 24px;
}
#social a {
    color: #578FFE;
    font-size: 24px;
    text-decoration: none;
}
.fa{
    font-size: 3em;
    padding: 10px;
}

.paddingBottom{
    padding-bottom: 50px;
}
.paddingTop{
    padding-top:30px;
}



.bookingmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.left{
    text-align: left;
 }
.booking-container{
    width: 45%;
}
li{
    width: 100%;
    display: inline-block;
}
